
@{
    ViewBag.Title = "Index";
}

<style>
    h1{
        text-align:center;
        margin-top: 30px;
        margin-bottom: 20px;
        color:deepskyblue;
    }
</style>

<h1>Welcome to your Medic System</h1>

<img src="~/Images/medical.jpg" width="768" height="243" alt="">